body {
    background-color: #15202b;
}

* {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

#erro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tema {
    font-size: 20px;
}

#msg {
    text-align: center;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#inserir {
    display: flex;
    line-height: 0px;
    justify-content: center;
}

#controlesJogador {
    display: grid;
    gap: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#letraX {
    width: 40px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    color: black;
}

#textoTopo {
    display: grid;
}

#palavra {
    display: flex;
    align-items: center;
    justify-content: center;
}

#forca {
    position: relative;
    width: 330px;
    height: 410px;
}

#cabeca {
    display: none;
    position: absolute;
    top: 0px;
    left: calc(50% - 72.5px);
}

#corpo {
    display: none;
    position: absolute;
    top: 120px;
    left: calc(50% - 75px);
}

#bracoE {
    display: none;
    position: absolute;
    top: 91px;
    left: calc(50% - 170px);
}

#bracoD {
    display: none;
    position: absolute;
    top: 93px;
    left: calc(50% - -55px);
}

#pernaE {
    display: none;
    position: absolute;
    top: 259px;
    left: calc(50% - 170px);
}

#pernaD {
    display: none;
    position: absolute;
    top: 259px;
    left: calc(50% - -5px);
}

.tema {
    font-size: 30px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.btnsModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.btn {
    font-size: 30px;
    cursor: pointer;
    width: 50%;
    height: 50px;
    background-color: #1d9bf0;
    border-radius:8px;
    border: none;
}

.btnModal {
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #1d9bf0;
    border-radius:8px;
    border: none;
}

.letra {
    width: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
    height: 50px;
}

.ocultar {
    display: none;
}

.modalContainer.mostrar {
    display: flex;
}

.modalContainer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.modal {
    position: relative;
    background: #15202b;
    width: 30%;
    min-width: 100px;
    padding: 20px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    box-shadow: 0 0 0 10px #15202b;
}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0,-60px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.mostrar .modal{
    animation: modal .3s;
}

.fechar {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 4px #15202b;
    background: #15202b;;
    cursor: pointer;
}

@media (max-width: 800px){
    .btnsModal {
        flex-direction: column;
    }

    .btnModal {
        width: 130px;
    }
}

@media (max-width: 600px){
    #container {
        gap: 5px;
    }

    * {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
    }

    #palavra {
        margin-top: 10px;
        width: 100vw;
        gap: 2px;
    }

    .btn {
        font-size: 20px;
        width: 40%;
    }

    .tema {
        font-size: 20px;
    }

    .btns {
        flex-direction: column;
        margin: 0;
        width: 100vw;
    }

    #letrasDigitadas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #inserir {
        display: block;
        text-align: center;
        margin: 10px;
    }

    #forca {
        display: flex;
        width: 100%;
    }

    .letra {
        padding: 0;
        margin: 0;
        width: 10%;
        max-width: 40px;
    }
}